[user]
	name = Max
	email = silverhammermba@gmail.com
[core]
	excludesfile = /home/max/.gitignore
	editor = vim
[color]
	ui = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[merge]
	conflictstyle = zdiff3
	tool = vimdiff
[alias]
	k = !gitk --word-diff &
	ls = log --graph --decorate --oneline --date-order -5
	stat = status -s -uno
	wdiff = diff --word-diff
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = false
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	all = true
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
