[user]
	name = Max
	email = silverhammermba@gmail.com
[core]
	excludesfile = /home/max/.gitignore
	editor = vim
[color]
	ui = true
[diff]
	renames = copy
	mnemonicprefix = true
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	k = !gitk --word-diff &
	ls = log --graph --decorate --oneline --date-order -5
	stat = status -s -uno
	wdiff = diff --word-diff
[push]
	default = current
