[user]
	name = Max
	email = silverhammermba@gmail.com
[core]
	excludesfile = /home/max/.gitignore
	editor = vim
[color]
	ui = true
[diff]
	renames = copy
	mnemonicprefix = true
	tool = kompare
[merge]
	tool = vimdiff
[alias]
	stat = status -s -uno
	ls = log --graph --decorate --oneline --date-order -5
