! colors
XTerm.vt100.background: black
XTerm.vt100.foreground: white

! unicode fonts
XTerm.vt100.utf8: true
XTerm.vt100.renderFont: true
XTerm.vt100.faceName: Bitstream Vera Sans Mono
XTerm.vt100.faceSize: 10

! disable bell
XTerm.vt100.visualBell: true
XTerm.vt100.visualBellDelay: 0
