xrdb -merge ~/.Xresources
xcompmgr -f -D 3 &
~/.local/bin/random_background
start-pulseaudio-x11
# set sound to speaker output
amixer -c PCH set Headphone 0%
amixer -c PCH set Front 100%
amixer -c PCH set Master 100%
mplayer ~/.config/awesome/theme/startup.ogg &
