! XTerm config
XTerm.termName: xterm-256color
XTerm.*.background: black
XTerm.*.foreground: white
XTerm.*.visualBell: true
XTerm.*.visualBellDelay: 0
XTerm.*.font: -gnu-unifont-*-sans-16-*

! WIP better sixel support
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
